<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
  <head>
    <title data-th-text="${loggedInUser.name}">Add Page</title>
  </head>
  <body>
    <div id="content">
      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
      </div>
      <div class="sm:pl-64 pt-20">
        <div class="grid grid-cols-12">
          <div class="col-span-3"></div>
          <div class="col-span-12 md:col-span-6">
            <div
              class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
            <div data-th-replace="message::messagebox"></div>
              <h1 class="text-2xl font-semibold text-center">
                Add New Contact
              </h1>

              <form action="" class="mt-5"
              data-th-action="@{'/user/contacts/add'}"
              data-th-object="${contactForm}"
              method="post">
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Name</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user w-4 h-4"></i>
                    </div>
                    <input
                    data-th-field="*{name}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Name"
                    />
                    
                  </div>
                  <p class="text-red-500"
                  data-th-if="${#fields.hasErrors('name')}"
                  data-th-errors="*{name}"
                  >Invalid name</p>
                </div>

                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Email</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-envelope w-f h-4"></i>
                    </div>
                    <input
                      type="text"
                      th:field="*{email}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Email Id"
                    />
                  </div>
                  <p class="text-red-500"
                  data-th-if="${#fields.hasErrors('email')}"
                  data-th-errors="*{email}"
                  >Invalid name</p>
                </div>

                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Phone Number</label
                  >
                  <div class="relative mb-6">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-phone w-4 h-4"></i>
                    </div>
                    <input
                      type="text"
                      data-th-field="*{phoneNo}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Phone Number"
                    />
                  </div>
                  <p class="text-red-500"
                  data-th-if="${#fields.hasErrors('phoneNo')}"
                  data-th-errors="*{phoneNo}"
                  >Invalid name</p>
                </div>

                <div class="mb-3">
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Description</label
                  >
                  <textarea
                    data-th-field="*{description}"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter description"
                  ></textarea>
                </div>

                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Website Link</label
                  >
                  <div class="relative mb-6">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-link h-4 w-4"></i>
                    </div>
                    <input
                      type="text"
                      data-th-field="*{websiteLink}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter website link"
                    />
                  </div>
                </div>

                <div class="flex items-center mb-3">
                  <input
                    data-th-field="*{favourite}"
                    type="checkbox"
                    value=""
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="default-checkbox"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Mark as Favourite</label
                  >
                </div>
                <div class="button-container text-center">
                  <button
                    type="submit"
                    class="px-3 py-2 rounded dark:bg-blue-600 hover:dark:bg-blue-700 bg-black text-white"
                  >
                    Add Contact
                  </button>
                  <button
                    type="reset"
                    class="px-3 py-2 rounded dark:bg-blue-600 hover:dark:bg-blue-700 bg-black text-white"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
